{% extends '../master.html' %}

{% block title %}
    Locais - Editar Local
{% endblock %}

{% block content %}
    {% load static %}
    <p><a href="/motores">Voltar</a></p>
    <h1>Editar Motor {{ meuMotor.modelo }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ meuMotor.modelo }}"><br><br>
        <label for="potencia">Potência:</label>
        <input type="text" id="potencia" name="potencia" value="{{ meuMotor.potencia }}"><br><br>
        <label for="tensao">Tensão:</label>
        <input type="text" id="tensao" name="tensao" value="{{ meuMotor.tensao }}"><br><br>
        <label for="corrente">Corrente:</label>
        <input type="text" id="corrente" name="corrente" value="{{ meuMotor.corrente }}"><br><br>
        <label for="rpm">RPM:</label>
        <input type="text" id="rpm" name="rpm" value="{{ meuMotor.rpm }}"><br><br>
        <label for="modo_fixacao">Modo de fixação:</label>
        <input type="text" id="modo_fixacao" name="modo_fixacao" value="{{ meuMotor.modo_fixacao }}"><br><br>

        <label for="fabricante">Fabricante:</label>
        <select name="fabricante">
            {% for f in fabricantes %}
                <option value="{{ f.id_fabricante }}"
                    {% if f.id_fabricante == meuMotor.id_fabricante_id %}selected{% endif %}>
                    {{ f.nome }}
                </option>
            {% endfor %}
        </select><br><br>

        <label for="tipo">Tipo:</label>
        <select name="tipo">
            {% for t in tipos %}
                <option value="{{ t.id_tipo }}"
                    {% if t.id_tipo == meuMotor.id_tipo_id %}selected{% endif %}>
                    {{ t.descricao }}
                </option>
            {% endfor %}
        </select><br><br>

        <label for="local">Local:</label>
        <select name="local">
            {% for l in locais %}
                <option value="{{ l.id_local }}"
                    {% if l.id_local == meuMotor.id_local_id %}selected{% endif %}>
                    {{ l.nome }}
                </option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}