{% extends '../master.html' %}

{% block title %}
    MotorMind - Nova Manutenção
{% endblock %}

{% block content %}
    <p><a href="{% url 'manutencoes' %}">Voltar</a></p>

    <h1>Adicionar Nova Manutenção</h1>

    <form method="post">
        {% csrf_token %}

        <label for="motor">Motor:</label>

        <select name="motor" id="motor">
            <option value="">
                Selecione um motor
            </option>

            {% for m in motores %}
                <option value="{{ m.id_motor }}">
                    {{ m.modelo }}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo">

        <br><br>

        <label for="data_manutencao">Data da manutenção:</label>
        <input type="date" id="data_manutencao" name="data_manutencao">

        <br><br>

        <label for="descricao">Descrição:</label>

        <br>

        <textarea id="descricao" name="descricao" rows="5" cols="50"></textarea>

        <br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}