{% extends "../master.html" %}

{% block title %}
    MotorMind - Lista de fabricantes
{% endblock %}

{% block content %}
    <p><a href="/">Voltar</a></p>

    <h1>Fabricantes</h1>

    <p><a href="{% url 'novo_fabricante' %}">Adicionar fabricante</a></p>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        {% for x in meuFabricantes %}
            <tr>
                <th>{{ x.id_fabricante }}</th>
                <th>{{ x.nome }}</th>
                <th><a href="{% url 'editar_fabricante' x.id_fabricante %}">Editar</a> <a href="{% url 'deletar_fabricante' x.id_fabricante %}">Deletar</a></th>
            </tr>
        {% empty %}
            <tr>
                <th>Sem fabricantes registrados</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}