{% extends "master.html" %}

{% block title %}
    MotorMind
{% endblock %}

{% block content %}
    <h1>MotorMind</h1>

    <br>

    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Matrícula:</label>
        <input type="text" name="matricula">
        <br><br>
        <label>Senha:</label>
        <input type="password" name="password">
        <br><br>
        <button type="submit">Entrar</button>
    </form>

    {% if erro %}
        <p>{{ erro }}</p>
    {% endif %}

    
{% endblock %}