{% extends '../master.html' %}

{% block title %}
    MotorMind - Editar Inspeção
{% endblock %}

{% block content %}
    <p><a href="{% url 'inspecoes' %}">Voltar</a></p>

    <h1>
        Editar Inspeção #{{ minhaInspecao.id_inspecao }}
    </h1>

    <form method="post">
        {% csrf_token %}

        <label for="motor">Motor:</label>

        <select name="motor" id="motor">
            {% for m in motores %}
                <option
                    value="{{ m.id_motor }}"
                    {% if m.id_motor == minhaInspecao.id_motor_id %}
                        selected
                    {% endif %}
                >
                    {{ m.modelo }}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <label for="data_inspecao">
            Data da inspeção:
        </label>

        <input
            type="date"
            id="data_inspecao"
            name="data_inspecao"
            value="{{ minhaInspecao.data_inspecao|date:'Y-m-d' }}"
        >

        <br><br>

        <label for="observacoes">
            Observações:
        </label>

        <br>

        <textarea
            id="observacoes"
            name="observacoes"
            rows="5"
            cols="50"
        >{{ minhaInspecao.observacoes }}</textarea>

        <br><br>

        <input type="submit" value="Salvar">
    </form>
{% endblock %}