{% extends "../master.html" %}

{% block title %}
    MotorMind - Lista de Inspeções
{% endblock %}

{% block content %}
    <p><a href="/">Voltar</a></p>

    <h1>Inspeções</h1>

    <p>
        <a href="{% url 'nova_inspecao' %}">
            Adicionar inspeção
        </a>
    </p>

    <table>
        <tr>
            <th>ID</th>
            <th>Motor</th>
            <th>Data</th>
            <th>Observações</th>
            <th>Ações</th>
        </tr>

        {% for x in minhasInspecoes %}
            <tr>
                <th>{{ x.id_inspecao }}</th>
                <th>{{ x.id_motor.modelo }}</th>
                <th>{{ x.data_inspecao|date:"d/m/Y" }}</th>
                <th>{{ x.observacoes }}</th>
                <th>
                    <a href="{% url 'editar_inspecao' x.id_inspecao %}">Editar</a>
                    <a href="{% url 'deletar_inspecao' x.id_inspecao %}">Deletar</a>
                </th>
            </tr>
        {% empty %}
            <tr>
                <th colspan="5">
                    Sem inspeções registradas
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}