{% extends '../master.html' %}

{% block title %}
    MotorMind - Nova Inspeção
{% endblock %}

{% block content %}
    <p><a href="{% url 'inspecoes' %}">Voltar</a></p>

    <h1>Adicionar Nova Inspeção</h1>

    <form method="post">
        {% csrf_token %}

        <label for="motor">Motor:</label>
        <select name="motor" id="motor">
            <option value="">Selecione um motor</option>

            {% for m in motores %}
                <option value="{{ m.id_motor }}">
                    {{ m.modelo }}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <label for="data_inspecao">
            Data da inspeção:
        </label>

        <input
            type="date"
            id="data_inspecao"
            name="data_inspecao"
        >

        <br><br>

        <label for="observacoes">
            Observações:
        </label>

        <br>

        <textarea
            id="observacoes"
            name="observacoes"
            rows="5"
            cols="50"
        ></textarea>

        <br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}