{% extends "../master.html" %}

{% block title %}
    MotorMind - Lista de locais
{% endblock %}

{% block content %}
    <p><a href="/">Voltar</a></p>

    <h1>Locais</h1>

    {% if request.user.is_staff %}
        <p><a href="{% url 'novo_local' %}">Adicionar local</a></p>
    {% endif %}

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            {% if request.user.is_staff %}
                <th>Ações</th>
            {% endif %}
        </tr>
        {% for x in meusLocais %}
            <tr>
                <th>{{ x.id_local }}</th>
                <th>{{ x.nome }}</th>
                {% if request.user.is_staff %}
                    <th>
                        <a href="{% url 'editar_local' x.id_local %}">Editar</a> 
                        <a href="{% url 'deletar_local' x.id_local %}">Deletar</a>
                    </th>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <th>Sem locais registrados</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}